.grid-board {
  position: relative;
  border: 1px solid red;
  .grid-item {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #aaa;
  }
  .grid-ph {
    background: #c0c0f033;
  }
}
